body a{
  color: white;
}
body a:hover{
  color: rgb(180, 180, 180);
}

/* Navigation bar tweak */
nav{
  text-transform: uppercase;
  position: fixed !important;
  width: 100vw;
}
@media screen and (min-width: 720px){
  .navbar-brand{
    margin-right: 4rem !important;
  }
}

/* banner tweak */
.banner{
  padding: 5rem 0rem 0rem 0rem;
  height: 100vh !important;
  background-color: rgba(121, 121, 121, 0.137);
}
.right{
  padding: 10rem 2.5rem !important;
}
.apexcraft{
  text-decoration: underline;
  font-weight: bold;
}
.right button{
  margin-right: 2rem;
  padding: 0.5rem 2rem;
}
.banner .right h2, .banner .right p{
  margin-bottom: 2.75rem;
}

/* blog section */
.blog-section{
  margin: 3rem 0rem;
}
.card{
  width: 18rem !important;
  margin: 0.75rem 0rem
}
.card a{
  text-decoration: none;
  color: black;
  border: solid thin rgba(0, 0, 0, 0);
  padding: 0.5rem;
}
.card a:hover{
  color: rgb(59, 59, 59);
  border: solid thin rgb(59, 59, 59);
  border-radius: 5px;
}