@font-face{
  font-family: 'Raleway';
  src: url('/src/components/font/Raleway-Regular.ttf') format('truetype');
}
.spacer{
  content: "";
  padding: 0.5rem;
}
body{
  font-family: 'Raleway' !important;
}

body a{
  color: white;
}
body a:hover{
  color: rgb(180, 180, 180);
}
.section-titles{
  text-align: center !important;
}

/* Navigation bar tweak */
nav{
  text-transform: uppercase;
  position: fixed !important;
  width: 100vw;
  z-index: 1;
}
@media screen and (min-width: 720px){
  .navbar-brand{
    margin-right: 4rem !important;
  }
}

/* banner tweak */
.banner{
  padding: 5rem 0rem 0rem 0rem;
  height: 100vh !important;
  background-color: rgba(121, 121, 121, 0.137);
}

@media screen and (min-width: 720px){ /*Desktop view*/
  .right{
    padding: 10rem 2.5rem !important;
  }
  .apexcraft{
    text-decoration: underline;
    font-weight: bold;
  }
  .right button{
    margin-right: 2rem;
    padding: 0.5rem 2rem;
  }
  .banner .right h2, .banner .right p{
    margin-bottom: 2.75rem;
  }  
  .corporate-img{
    display: block;
    width: auto;
    margin: auto;
    border-radius: 50%;
  }
  /* What we do tweaks */
  .whatwedo{
    margin: 2rem 0rem;
  }
  .avatar{
    display: block;
    margin: auto;
    width: auto;
  }
  .textside{
    margin: 4rem 0rem;
  }
  .textside p, .textside li{
    width: 420px !important;
  }
  .textside ul{
    margin-top: 1rem;
  }
  .textside ul li{
    list-style-image: url('/src/components/imgs/Verified.png');
    padding: 0.25rem 0.25rem;
  }
  .space{
    margin: 0rem 0.75rem;
  }
}
@media screen and (max-width: 720px){ /*mobile view*/
  .right{
    padding: 1rem 1.75rem !important;
  }
  .right p{
    text-align: justify;
  }
  .corporate-img{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    display: block;
    margin-top: -2rem;
  }

  /* What we do */
  .avatar{
    display: block;
    width: 320px;
    height: 320px;
    margin: auto;
    margin-bottom: 1.5rem;
  }  
  .textside{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  .textside p, .textside cite, .textside li{
    text-align: justify;
  }
  .textside ul li{
    list-style-image: url('/src/components/imgs/Verified.png');
    padding: 0.25rem 0.25rem;
  }
}


/* blog section */
.blog-section{
  margin: 3rem 0rem;
}
.blog-section a{
  color: white !important;
}
.card{
  width: 18rem !important;
  margin: 0.75rem 0rem
}
.card a{
  text-decoration: none;
  color: black;
  border: solid thin rgba(0, 0, 0, 0);
  padding: 0.5rem;
}
.card a:hover{
  color: rgb(59, 59, 59);
  border: solid thin rgb(59, 59, 59);
  border-radius: 5px;
}
.More-post{
  display: block !important;
  width: auto !important;
  margin: auto !important;
  margin-top: 2rem !important;
}


/* footer section */
.footer-section{
  background-color: rgba(36, 36, 36, 0.808) !important;
  color: white !important;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-section ul li{
  list-style: none;
}

/* About us page */
.aboutus{
  padding-top: 6rem;
  padding-right: 3.75rem !important;
}

.ourcourses{
  margin-top: 3rem;
}
.ourcourses h2{
  padding: 0.5rem 1.75rem;
  background-color: rgb(53, 53, 53);
  color: white;
}
.ourcourses-content{
  padding: 0rem 3rem;
}

.ourcourses-content a{
  color: white !important;
}

.aboutus p{
  font-size: larger;
  letter-spacing: 2px;
}
.aboutUsContent p{
  text-align: justify;
  margin-bottom: 4rem;
}

.the-card{
  width: 18rem;
}

/* Mobile view tweaks */